.footer{
    background-color: #000 !important;
    color:#FFF;
    min-height: Calc(60vh - 250px);
    margin-top:5px !important;
    display: flex
}


.footer_container1{
    flex:1;
    /* border:1px solid #FFF; */
    display: flex;
    justify-content: center;
    padding-top:50px

}
.ui{
    margin-right: 60px;
}

.li{
    padding: 5px
}
.footer_container2{
    flex:1;
    /* border:1px solid #FFF; */
    padding-top:50px;

}

.footer_container2_div{
    display: flex;
    /* justify-content: space-evenly; */

}

.custom_input{
    /* background-color:#000 */
}
.custom_input ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
.custom_button{
   height:45px;
   border-radius:5px
}

.news_letter{
    padding:20px
}